MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/carCollectorDB
CRON_SECRET=replace-with-a-long-random-secret
ARVAL_API_BASE_URL=https://arval-prod-euw-appservice-portalapi.azurewebsites.net
ARVAL_ANNOUNCEMENTS_PATH=/api/Announcements/17
NEXT_PUBLIC_VAPID_PUBLIC_KEY=replace-with-web-push-public-key
VAPID_PRIVATE_KEY=replace-with-web-push-private-key
VAPID_SUBJECT=mailto:admin@example.com
APIFY_TOKEN=replace-with-apify-token
CAYENNE_OTOMOTO_ACTOR_ID=devilscrapes/otomoto-poland-cars
CAYENNE_OTOMOTO_SEARCH_URL=https://www.otomoto.pl/osobowe/porsche/cayenne?search%5Bfilter_enum_damaged%5D=0&search%5Bfilter_enum_generation%5D=gen-iii-2017-cayenne&search%5Bfilter_float_price%3Ato%5D=250000
CAYENNE_OTOMOTO_MAX_RESULTS=100
CAYENNE_OTOMOTO_APIFY_TIMEOUT_MS=20000
