MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/carCollectorDB
CRON_SECRET=replace-with-a-long-random-secret
ARVAL_API_BASE_URL=https://arval-prod-euw-appservice-portalapi.azurewebsites.net
ARVAL_ANNOUNCEMENTS_PATH=/api/Announcements/17
